* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.header .last-header {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  background: #232323;
  justify-content: space-between;
}

.header .last-header .user-profile {
  display: flex;
  margin-top: 10px;
}

.header .last-header .user-profile .icon {
  padding: 10px 10px;
  background: #fff;
  border-radius: 20%;
}

.header .last-header .user-profile .info {
  margin-left: 10px;
}

.header .last-header .user-profile .info h2 {
  color: #fff;
  font-size: 18px;
}

.header .last-header .user-profile .info p {
  color: #ababab;
  font-size: 14px;
}

.header .last-header .nav {
  margin-top: 15px;
}

.header .last-header .nav ul {
  display: flex;
}

.header .last-header .nav ul li {
  list-style: none;
}

.header .last-header .nav ul li .link {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.header .last-header .nav ul li .link:hover {
  color: #ff1493;
}

.header .last-header .user {
  display: flex;
  align-items: center;
}

.header .last-header .user .btn button {
  padding: 10px 20px;
  background: #ff69b4; /* Color rosa para el botón de login */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease; /* Transición suave para el efecto hover */
}

.header .last-header .user .btn button:hover {
  background: #ff1493; /* Color rosa más oscuro al hacer hover */
}
