* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: fixed; /* Hace que el nav se quede fijo arriba */
  top: 0;
  left: 0;
  z-index: 999; /* Asegura que esté sobre el resto del contenido */
}

.header .last-header {
  width: 100%;
  padding: 10px;
  display: flex;
  background: #232323;
  justify-content: space-between;
  align-items: center;
}

.header .last-header .user-profile {
  display: flex;
  align-items: center;
}

.header .last-header .user-profile .icon {
  padding: 10px;
  background: #fff;
  border-radius: 20%;
}

.header .last-header .user-profile .info {
  margin-left: 10px;
}

.header .last-header .user-profile .info h2 {
  color: #fff;
  font-size: 18px;
}

.header .last-header .user-profile .info p {
  color: #ababab;
  font-size: 14px;
}

.header .last-header .nav {
  margin-top: 0;
}

.header .last-header .nav ul {
  display: flex;
  list-style: none;
}

.header .last-header .nav ul li {
  margin-right: 20px;
}

.header .last-header .nav ul li .link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.header .last-header .nav ul li .link:hover {
  color: #ff1493;
}

.header .last-header .user {
  display: flex;
  align-items: center;
}

.header .last-header .user .btn button {
  padding: 10px 20px;
  background: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.header .last-header .user .btn button:hover {
  background: #ff1493;
}

/* Agrega margen superior al contenido principal para que no quede tapado */
.main-content {
  margin-top: 90px; /* Ajusta según el alto del Nav */
}
