* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home .top-banner {
  max-width: 100%;
  height: 435px;
  background: url("http://localhost:3000/images/HomeImagen.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.home .top-banner .content {
  width: 100%;
  position: relative;
  top: 20%;
  padding: 10px 50px;
}

.home .top-banner .content h3 {
  text-transform: capitalize;
  color: #8e1654; /* fucsia oscuro */
  font-weight: 300;
  letter-spacing: 1px;
}

.home .top-banner .content h2 {
  text-transform: uppercase;
  color: aliceblue;
  letter-spacing: 1px;
  font-size: 42px;
  margin-top: 10px;
}

.home .top-banner .content p {
  color: aliceblue;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.home .top-banner .content .link {
  padding: 10px 30px;
  background: #000000; /* antes: #fed700 */
  color: #232323;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
}

.home .top-banner .content .link:hover {
  color: #000000;
  background: #8e1654; /* fucsia oscuro */
  cursor: pointer; /* agregado */
}

.home .footer {
  padding: 20px 30px;
  background: rgba(246, 246, 246, 0.9); /* Blanco opaco */
  color: #232323;
}

.home .footer .container {
  display: flex;
  justify-content: space-between;
}

.home .footer .column {
  width: 30%;
}

.home .footer .column h3 {
  text-transform: uppercase;
  color: #8e1654; /* fucsia oscuro */
  margin-bottom: 10px;
  border-bottom: 2px solid #000000; /* antes: #fed700 */
  padding-bottom: 5px;
}

.home .footer .column ul {
  list-style: none;
  padding: 0;
}

.home .footer .column ul li {
  margin-bottom: 10px;
  color: #232323;
  transition: color 0.3s;
}

.home .footer .column ul li:hover {
  color: #8e1654;
  cursor: pointer; /* agregado */
}

.home .footer .column ul li a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.home .footer .column ul li a:hover {
  color: #8e1654;
  cursor: pointer; /* agregado */
}

.home .footer .column ul li a svg {
  margin-right: 8px;
}
